/* @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500&display=swap'); */
@import url("fonts/fonstfamilyFrank/family.css");

@import url("util.css");

/* color 
	letra logo: #0070c0 
	fuente logo: Franklin Gothic Medium
	eslogan: a5a5a5*/
/* container-teisa */
.container-teissa {
	border: 10px solid blue;
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
  }
	/* logo header */
#teissa, .titleTeissa{
	color: #0070c0;
	font-weight: bolder;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: xx-large;
	width: 50%;
}
#teissa::after{
	content: '| aceros inoxidables';
	color: #a5a5a5;
}

.telphone{
	border: 1px solid red;
}

/* boton contacto */
.btnContactoRedirect{
	background-color: #0070c0;
	border: none;
	border-radius: 12px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-flex;
	font-size: 16px;
	padding: 12px 22px;
	
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	
}

.btnContactoRedirect:hover {
	background-color: #6194b9; /* Green */
    color: white;
	border-radius: 2px;
	font-size: 18px;
	text-decoration: none;
}

.owl-carousel .imagens{
	max-height: 460px;
	min-height: 460px;
}
.owl-carousel .imagens img{
	width: 100%;
	height: 450px;
}

#weare{
	display: flexbox;
	border-left: 1px solid gray;
	
}
#weare .titleTeissa{
	text-align: center;
	width: 100%;
}
#weare p{
	text-align: justify;
	font-size: 1.5rem;
}

/* menu desplegable */
#navbarText ul li .linkProd{
	font-size: 1.2rem;
}
#navbarText ul li .linkProd:hover{
	border-bottom: 2px solid #F13006;
      border-radius: 4px;
}

.listPRod ul {
	list-style: none;
	text-align: left;
}

.SubmenulinkProd,.SubmenulinkLinea,.SubmenulinkServicios{
	display: none;
	position: absolute;
	height: auto;
	background-color: #e7e7e7;
	z-index: 99;
}
/* @media screen and (min-width: 360px) {
	#teissa{
		color: #0070c0;
		font-weight: bolder;
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-size: 1.2rem;
		width: auto;
	}

	.owl-carousel{
		width:100%;
    	height:auto; 
	}
} */